/* PROVA MIA */
/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  height: 100px;
  width: 100px;
  margin: 0.5rem;
  background-color: #fff;
  border: 2px solid black;
}

.rosa {
  background-color: pink;
}

.blu {
  background-color: blue;
}

.viola {
  background-color: purple;
}

.giallo {
  background-color: yellow;
}

.verde {
  background-color: green;
}

.rosso {
  background-color: red;
}

.arancione {
  background-color: orange;
}

.azzurro {
  background-color: aquamarine;
}

.hiddens {
  background-color: white;
} */

/* PROVA CON TUTORIAL YOUTUBE  */
.container {
  width: 500px;
  margin: auto;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
